body {
  background-color: #27054e !important;
  max-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.submit_btn {
  width: 15%;
  background-color: rgb(254, 193, 49);
  border: none;
  padding: 0.3em;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  letter-spacing: 2px;
}

.submit_btn:hover {
  background-color: rgb(255, 68, 11);
  color: whitesmoke;
}

.task_input {
  width: 30%;
  background-color: transparent;
  border: 1px solid sandybrown;
  border-radius: 10px;
  padding: 0.5em;
  outline: none;
  color: white;
}

.display_task {
  color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

ul {
  padding: 0 !important;
}

.list_task {
  background-color: rebeccapurple;
  list-style-type: none;
  margin: 0.3em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 450px;
}

.icon_container {
  display: flex;
  gap: 1.3em;
}

.fa-solid {
  cursor: pointer;
}

.task_title {
  color: yellowgreen;
}

.toDo_list {
  display: none;
  color: wheat;
}

.task_completed {
  display: none;
  color: wheat;
}

.completed {
  width: 450px;
}

@media all and (max-width: 989px) {
  .submit_btn {
    width: 100%;
  }

  .task_input {
    width: 100%;
  }

  .list_task {
    margin: 0 0 0.3em 0;
    width: 100%;
  }

  .task_wrapper,
  .completed_wrapper {
    width: 100%;
    overflow: hidden;
  }
}
